/*footer*/

footer {
  color: #939393;
  font-family: sans-serif;
  background-color: $color-background;
}

.footer_container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  box-sizing: border-box;
  @include tablet{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
}

.footer_copy{
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px 10px 0;
  font-size: $font-medium;
  @include tablet{
    width: 65%;
    text-align: left;
  }
}
.footer_links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @include tablet{
  width: 35%;
  }
}

.foot-logo {
  color: #939393;
  font-size: $font-mediumPlus;
  text-transform: uppercase;
  span{
    font-weight: $weight-bold;
  }
}

.fa {
  font-size: $font-large;
}

.fa-flickr {
  color: #ff0084;
}

.fa-vimeo-square {
  color: #1ab7ea;
}

.fa-pinterest-square {
  color: #bd081c;
}

.fa-twitter-square {
  color: #00acee;
}
