@import "../fonts/font-awesome.min.css";
$font-desktop: 16px;
$font-huge: 3.5em;
$font-large: 2.75em;
$font-big: 2.25em;
$font-mediumPlus: 1.85em;
$font-medium: 1.25em;
$font-small: 0.9em;
$font-mobile: 0.7em;

$weight-tiny: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-huge: 800;
